.card {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
    overflow-y: auto;
}

.chart-container {
    display:flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

/* Optional: Add some margins around the charts for better spacing */
.Pie, .Line {
    margin: 10px;
}

#docCal{
    display: flex;
    justify-content: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    min-height: 45vh;
}

/* Add to Charts.css */
.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
    width: 200px; /* Adjust size as needed */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none; /* Initially hidden */
  }
  
  .tooltip.active {
    display: block;
  }

  .scrolling-box-container {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    padding: 20px;
    gap: 20px; /* Space between boxes */
    min-height: 30vh;
    width: 90%;
}

.scrolling-box {
    flex: 0 0 200px; /* Flex basis of 200px, does not grow or shrink */
    height: 150px; /* Fixed height */
    background-color: #EDC8FF; /* Light gray background, change as needed */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Shadow for depth */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center;
    cursor: pointer; 
}

.scrolling-box-header {
    font-weight: bold;
}

  